@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Press Fit</h1>
    <p class="lead">Our Quality, Your Solution</p>
    <p><a href="http://www.pressfitindia.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

