
@{
    ViewBag.Title = "Index";
}

<h2>Upload Main Banner</h2>


@using (Html.BeginForm("UploadMainBanner", "UploadBanner", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    <div class="file-field big">
        <a class="btn-floating btn-lg amber darken-2 mt-0 float-left">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <input type="file" name="file">
        </a>

    </div>



    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>


}

@{
    ViewBag.Title = "Index";
}



